@import '../../styles/styles';

@mixin keyframes($circle) {
  @keyframes #{$circle} {
    @content;
  }
}
@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}
@include keyframes(circle) {
  0% {
    @include circle-animation(
      $black-opacity,
      1px,
      1px,
      -1,
      0,
      0,
      0,
      0,
      auto,
      100%
    );
  }
  100% {
    @include circle-animation($gray-1, 5000%, 5000%, -1, 0, 0, 0, 0, auto, 0);
  }
}

.link,
.logout {
  color: #fff;
  text-decoration: none;
  overflow: hidden;
  position: relative;
  z-index: 1;

  font-weight: lighter;
  font-family: 'Montserrat', sans-serif !important;
}

.user {
  color: $white !important;
  text-decoration: none;
  overflow: hidden;
  position: relative;
  z-index: 1;

  font-weight: lighter !important;
  font-family: 'Montserrat', sans-serif !important;
}

.link-menu {
  width: 100px;
  padding: 16px 0;
  font-size: 22px;

  &::after {
    @include hover-menu();
  }

  &:hover::after {
    @include animation('circle 1.5s ease-in-out forwards');
  }
}

.link-user {
  width: 200px !important;
  padding-top: 12px !important;
  text-align: center !important;
  font-size: 26px !important;

  &::after {
    @include hover-menu();
  }

  &:hover::after {
    @include animation('circle 1.5s ease-in-out forwards');
  }
}

.logout {
  text-transform: capitalize !important;
}

// change theme menu popup icon
.MuiPaper-root {
  background-color: #777777;
}

.textinput {
  width: 800px;
}

.root {
  max-width: 345;
}

.media {
  height: 140;
}

.makeStyles-textInput-10 {
  width: 1000 !important;
}
