
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import '../../styles/styles';
.title{
    width: 100%;
    font-family: 'Montserrat', sans-serif !important;
    color: $white;
    text-align: left;
}


// FIX BUG

/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px $dark inset !important;
}

/*Change text in autofill textbox*/
input:-webkit-autofill {
    -webkit-text-fill-color: white !important;
}
