@import '../../../styles/styles';

.banner {
  height: 100vh !important;
  .overload {
    height: 100%;
    width: 100%;
    position: absolute;
    background: rgb(0, 0, 0);
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    z-index: 1;
  }
  .bannerImg {
    position: relative;
    height: 100%;
    width: 100%;
  }
  .titles {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-100%);
    z-index: 10;
    text-align: left;

    .style {
      color: #fff;
      font-family: 'Montserrat', sans-serif !important;
      font-weight: 300;
    }
    .name {
      font-size: 40px;
      margin: 10px;
    }

    .description {
      font-size: 14px;
      font-weight: 200;
      margin: 10px;
    }

    .author {
      font-size: 20px;
      color: $blue-2;
      font-weight: 500;
      margin: 10px;
    }

    .detail-btn {
      margin: 10px;
      font-weight: 500;
      width: 120px;
      height: 50px;
      border: 1px solid $borderColor;
      transition: all 0.5s;
      cursor: pointer;

      display: inline-block;
      position: relative;

      &::after {
        content: '»';
        position: absolute;
        opacity: 0;
        top: 45%;
        transform: translateY(-45%);
        right: -20px;
        transition: 0.5s;
      }

      &:hover {
        padding-right: 24px;
        padding-left: 8px;
      }

      &:hover::after {
        opacity: 1;
        right: 18px;
      }
    }
  }
}
