@import './_variables';

@mixin normal-font-style {
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    font-family: "Montserrat", sans-serif;
}

// hover menu navigation
@mixin hover-menu(){
    display: block;
    position: absolute;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '.';
    color: transparent;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    background: transparent;
}

// hover Animation menu navigation
@mixin circle-animation($bg, $height, $width, $zIndex, $top, $left, $bottom, $right, $margin, $borderRadius) {
    background: $bg;
      height: $height;
      width: $width;
      z-index: $zIndex;
      top: $top;
      left: $left;
      bottom: $bottom;
      right: $right;
      margin: $margin;
      border-radius: $borderRadius;
}